/* SELECTING OPTGROUP IN DROPDOWNLIST HACK */
.my_select2_optgroup_selected {
    background-color: #ddd;
}
.my_select2_optgroup_hovered {
    color: #FFF;
    background-color: #5897fb !important;
    cursor: pointer;
}
strong.select2-results__group {
    padding: 0 !important;
}
.my_select2_optgroup {
    display: block;
    padding: 6px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #D9D9D9;
  shape-rendering: crispEdges;
}
text .tick {fill: #D9D9D9; }

.label {
	fill: black;
	font-size: 12px;
	text-anchor: middle;
}
circle {
    cursor: pointer;
}
.dot {
  z-index: 98;
}
.circleText {
  fill:#D1D4D3;
  font-size: 12px;
}

div.tooltip {
  position: absolute;
  text-align: center;
/*   width: 200px;
  height: 60px;    */
  padding: 2px;
  font:12px sans-serif;
  color: #bb133e;
  background: #D1D4D3;
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
  padding:4px;
  z-index: 99;
}

.helpline {
	stroke: #D9D9D9;
	shape-rendering: crispEdges;
}
.lineDesc {
    fill: #D9D9D9;
	font-size: 10px;
	text-anchor: middle;
}

.triangle {
    fill:#D9D9D9;

}

#logo {
	position: absolute;
	top: 5px;
	left:370px;
	height: 25px;
	width: 140px;
}



.controls {
    height:	40px;
    position:relative;
}

.button {
    cursor: pointer;
    background-color: #DDD;
    border: 2px solid #DDD;
    color: white;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-size: 14px;
    border-radius: 4px;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
    width:13%;
    position:relative;
    left:10px;
    text-align: center;
    /* top:-28px; */
}
/* 
.button:hover {
	background-color: white;
	color: #DDD;
} */

.buttonActive {
    background-color: #BB133E;
    border: 2px solid #BB133E;
}

.buttonActive:hover {
    background-color: white;
	color: #BB133E;

}
#legendDesc {
    font-size: 12px;
    font-weight: bold;
}
.legend text{
	font-size: 12px;
    cursor:pointer;
}
.legend circle{
    cursor:pointer;
    stroke-width:2px;
}

.legendPassive {
    opacity:0.3;
}

.legendPassive circle{
    fill-opacity:0.2;
}

/* .searchbox {
	width: 350px;
} */
.searchbox-container {
	border:2px solid #BB133E;
}
/*.searchbox {
    border:2px solid #BB133E;
    color: #BB133E;
    border-radius:8px;
    -moz-appearance: none;
    height: 28px;
    width: 350px;
    margin-top: 5px;
}*/

#searchdiv {
	display:block;
}

.chartDiv {
    position: relative;
    width: 100%;
    font-size: 1vw;
}

.selected {
	stroke:black;
	stroke-width: 2px;
}
.unselected {
	opacity: 0.2;
}
h2 {
	font-size: 20px;
	color: #818A8F;
	margin: 5px;
}

.box {
    display: block;
    position: absolute;
    text-align: center;
    width: 40%;
	font-size: 13px;
    border-radius:8px;
	padding:12px;
    left:60%;
}
#storyBox {
    margin-top:50px;
    top:0%;
    height:40%;
	background-color:rgba(127,179,217,.3);
    left:60%;


}
#descBox {
    top:55%;
    height:40%;
    background-color:rgba(221,221,221,.33);


}
/* 
#rstBtn {
    position: absolute;
    display: block;
    cursor: pointer;
    width:10%;
    border:0px;
    color: #BB133E;
    text-align: center;
    left:90%;
}
 */
#rstBtn:hover{
    font-weight: bold;
}


#closeDescLink {
	position:relative;
	top:0px;
	right:0px;
	float:right;
	margin-left: 5px;

}
select::-ms-expand {
    display: none;
}

li.select2-results__option strong.select2-results__group:hover {
  background-color: #ddd;
  cursor: pointer;
}
